<div>
  <table>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Studio</th>
      <th>Weekend Income</th>
      <th> Delete</th>
    </tr>
    </table>
    <!--  הדליט הזה זה אותו דליט שנשלח מהבן מתוך הפונקציה טו דליט -->
    <movie *ngFor = "let movie of movies"
          [data] = "movie" 
          (delete) = "hideHim($event)"
    ></movie>
</div>

<br>
<br>
<div style = "text-align: center;">
    The movie you deleted is: {{title}}
</div>
