<table>
  <tr  id={{id}} >
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{studio}}</td>
    <td>{{weekendIncome}}</td>
 
    <div class="example-button-row">
        <button mat-stroked-button color="warn" 
                (click)= "toDelete()" >
                  delete me 
        </button>
      </div>  
    </tr>
</table>

