table{
    table-layout: fixed;
    width: 75%;    
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 65px;     
}
td{
    padding: 20px;
    text-align: center;
}
.example-button-row button,
.example-button-row a {
  
  border: 1px solid black;
  border-collapse: collapse;
  margin: 25%;
  text-align: center;

}